@font-face {
    font-family: 'HelveticaCustom';
    src: url('assets/helvetica.ttf');
}

body {
    margin: 0;
    height: 100vh;
    font-family: 'HelveticaCustom', sans-serif;
    background: url("assets/bg.png") no-repeat center center fixed;
    background-size: cover;
}

/* Desktop */
.desktop {
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    gap: 20px;
    padding: 20px;
}

/* App */
.app {
    width: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.app img {
    width: 80px;
    height: 80px;
    border-radius: 18px;
}

/* Dock */
.dock {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: #bfe8ff;
    padding: 12px 20px;
    border-radius: 30px;
    display: flex;
    gap: 15px;
}

/* Recycle */
.dock-fixed {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

/* Context Menu */
.context-menu {
    position: absolute;
    display: none;
    flex-direction: column;
    background: #bfe8ff;
    padding: 8px;
    border-radius: 12px;
    min-width: 140px;
}

/* Folder Window */
.folder-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 400px;
    height: 300px;

    background: rgba(191,232,255,0.8);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 15px;
}

.hidden {
    display: none;
}

.folder-content {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
